[submodule "legcohk-code4hk-pili"]
	path = legcohk-code4hk-pili
	url = git@github.com:code4hk/legcohk.git
[submodule "legco-watch-hanxu"]
	path = legco-watch-hanxu
	url = git@github.com:legco-watch/legco-watch.git
[submodule "legco-scraper-ken"]
	path = legco-scraper-ken
	url = git@github.com:kenyiu/Legco-Scraper.git
[submodule "legco-hansard-siuying"]
	path = legco-hansard-siuying
	url = git@github.com:siuying/legco-hansard-parser.git
