[submodule "third/legcohk-code4hk-pili"]
	path = third/legcohk-code4hk-pili
	url = git@github.com:code4hk/legcohk.git
[submodule "third/legco-watch-hanxu"]
	path = third/legco-watch-hanxu
	url = git@github.com:legco-watch/legco-watch.git
[submodule "third/legco-scraper-ken"]
	path = third/legco-scraper-ken
	url = git@github.com:kenyiu/Legco-Scraper.git
[submodule "third/legco-hansard-siuying"]
	path = third/legco-hansard-siuying
	url = git@github.com:siuying/legco-hansard-parser.git
[submodule "frontend/app/api/hk-legco-pointers"]
	path = frontend/app/api/hk-legco-pointers
	url = git@github.com:initiummedia/hk-legco-pointers.git
