<!DOCTYPE html>

<!-- Oh God, you're reading the source code! -->

<html lang="zh-hant">

  <head>
    <meta charset="UTF-8" />
    <title>廿一世紀立會網絡</title>
    <link type="text/css" rel="stylesheet" href="./styles/main.css?__inline=true" />
  </head>

  <body>

    <h1>廿一世紀立會網絡</h1>

    <div id="container">

      <div id="videoBox">

        <video controls id="introVideo" poster="images/intro_poster.png">
          <source src="images/intro.mp4" type="video/mp4" />
          <source src="images/intro.webm" type="video/webm" />
          抱歉，您的瀏覽器不支持 HTML5 視頻。
        </video>

      </div>

      <div id="videoShareDiv">
        分享動畫：
        <a href="" title="分享到 Facebook" class="shareButton" id="shareVideoToFacebookAnchor">
          <img src="images/facebook_icon.png?__inline=true" />
        </a>
        <a href="" title="分享到 Twitter" class="shareButton" id="shareVideoToTwitterAnchor">
          <img src="images/twitter_icon.png?__inline=true" />
        </a>
        <a href="" title="分享到新浪微博" class="shareButton" id="shareVideoToWeiboAnchor">
          <img src="images/weibo_icon.png?__inline=true" />
        </a>
      </div>

      <div id="mainBox">
        <p>
        「等埋發叔」、嫻姐「O嘴」、田氏兄弟舌戰…… 香港立法會近年來最重要的一次投票場景仍歷歷在目：6月18日，香港立法會就2017年是否實行北京指定的政改方案投票。佔1/3席次的泛民主派反對，令方案幾乎沒有通過的可能，但投票現場，大量建制派不慎離場，以致投票結果慘涼，這一「甩轆」場面以及其後眾政客的回應娛樂性太高，至今令人難忘。
        </p>

        <p>
        議事堂有時娛樂性雖高，監察議員表現卻是選民必定要做的事。政治人物發言，人前一套，背後一套，聽其言不如觀其行，我們嘗試通過挖掘、整理、分析本屆立法會的官方投票記錄，考察那些約定俗成的印象：建制派是否分裂？泛民建制是否真的水火不容？為什麼有人投票反對自己的提案？最受泛民支持的建制派是誰？誰最言行一致？我們找到一些有趣的蛛絲馬跡。
        </p>

        <h2>研究方法</h2>

        <p>
        就各公共事項制定法例、進行審議和監察政府是立法會議員的職責，每年立法會召開數十次大會，審議大小動議和草案。我們搜集本屆立法會由2012年10月10日至今年6月18日的，70位議員就共28,291個提案合共投下的24,470票的紀錄，分析他們的投票取態和和規律，形成矩陣。
        X軸代表動議人，Y軸代表投票者，兩軸相交的格子顯示甲議員對乙議員所有提案的投票取態，顏色愈光亮，代表甲議員愈多投票支持乙議員的動議。
        </p>

        <h2>建制派相對較泛民分裂</h2>

        <p>
        矩陣右下區域顯示建制派之間互相投票支持的情況。區塊顏色深淺並不平均，出現不少深色格子，代表建制派沒有投票支持己方議案的情況並不罕見。其中自由黨張宇人、民建聯陳克勤、工聯會鄧家彪和郭偉強的提案，明顯頗不受建制派盟友歡迎。本屆立法會的投票情況反映，「618」建制派顯露的分裂並非無跡可尋。
        </p>

        <p>
        左上區則顯示泛民間互相投票的結果。居於上方的是社民連梁國雄、人民力量陳偉業、陳志全和黃毓民。他們四人經常互相投票支持，但比例來說其他泛民對他們投贊成票並不常見。這四位議員不滿政府官員提交的草案如成立創新科技局、長者生活津貼的附帶條件和財政預算案，多次發起拉布戰，提出大量修正議案表達對抗和不合作態度。但其他泛民政黨對拉布戰略有保留，例如每年的財政預算案都只得「拉布四子」參與。
        </p>

        <p>
        但除了「拉布四子」外，左上是一塊滿滿的深色區域，顯示泛民政黨雖然佔據光譜不同角落，階級和路線也許有異，當投票鐘響起他們還是互投贊成。
        </p>

        <h2>建制比泛民更獲得對方支持</h2>

        <p>
        議會外泛民和建制派也許予人劍拔弩張的印象，但建制派一些議員的提案獲得的泛民支持比建制派更多。經勞工界功能組別晉身議會的勞聯潘兆平，除了獲工聯會陳婉嫻、王國興、鄧家彪和郭偉強支持外，其他建制派對他的支持可算寥寥可數。相反泛民投票支持他提案的情況普遍得多。
        </p>

        <p>
        根據投票記錄，潘兆平為其他議員提出的議案動議修正案，均遭否決。但他提出的「職業安全議案以不記名投票獲通過。潘兆平回應，工聯會亦屬建制派，跟勞聯在勞工議題上沒有原則性分歧。雖然功能組別中大部分議員屬建制派，但潘兆平認為難以爭取他們支持。「因為改善勞工權益，涉及要改變一向偏向商界的營商環境，立法會功能組別內有不少是工商界的代議士，他們對保障勞工權益的建議自然有較大的保留。」
        </p>

        <p>
        新民黨葉劉淑儀亦頗受泛民支持。相反，除了沒有政黨背景的衛生服務界議員李國麟獲部分建制派議員支持外，幾乎沒有泛民議員能贏得建制派的票數。
        </p>

        <p>
        香港中文大學政治與公共行政學系系主任馬嶽分析，2012年左右以後泛民互相綑綁較多。「首先，階級立場上公民黨、民主黨等已跟其他基層泛民政黨分別不大，逐漸跟基層靠近。例如很多泛民政黨十年前對全民退休保障計劃有保留，今天所有泛民政黨都支持。」另一原因則與立法會的權力有限有關。「尤其一些關於基層議題的動議辯論，未投票已深知不可能通過，政黨於是寧願跟着大隊走，以免挑起事端。」
        </p>

        <p>
        馬嶽解釋，潘兆平、郭偉強和鄧家彪不獲建制派支持，可能跟勞工議題長期不受功能組別歡迎有關。「功能組別35個席位中接近一半屬於工商界，部分專業界別亦傾向工商界，他們都以界別利益為依歸，令勞工議題難獲得支持。」
        </p>

        <h2>不提案的議員</h2>

        <p>
        值得留意的是兩條空白地帶。曾鈺成擔任立法會主席所以沒有提案，對其他議員的提案按慣例只會按「出席」掣。五度從功能組別工業界議席躋身立法會的林大輝，在今屆任期內亦完全沒有提出任何動議。截稿前我們尚未取得林大輝回應。
        </p>

        <h2>李慧琼自己的提案自己反</h2>

        <p>
        對角線顯示議員對自己動議的支持度，愈支持愈光亮，但這條亮色線之間有一格例外。民建聯黨魁、行政會議成員李慧琼曾七度對自己的動議案投下反對票。這七次投票發生於2012年2月20至21日，為（辣招）印花稅草案其中多條提出修訂，但身為動議者的她卻投下反對票。李慧琼透過助理回覆，因她是相關法案委員會主席，委員會經討論後決定由主席代部分委員提出他們的修訂案，而民建聯的立場是反對有關修訂案，故出現自己的提案自己反的「矛盾大作戰」。
        </p>

      </div> <!-- #main -->

    </div> <!-- #container -->

    <script src="./scripts/main.js?__inline=true"></script>
    <!--(if target dev)><!-->
    <script src="http://localhost:35729/livereload.js"></script>
    <!--<!(endif)-->

  </body>

</html>