
<div class="row">
  <div class="col-md-12">
    <h2> 關於LegcoMatrix </h2>
    <p>
      立法會一屆5年，少則千餘個提案，多則兩三千，上至政經民生，下至雞毛蒜皮。70位議員，數十萬張投票，究竟說明了什麼？
      LegcoMatrix帶你一步一步解析立法會投票紀錄。
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2> 項目組 </h2>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>
      胡辟礫
    </h3>
    <br/>
    <img width="90%" src="http://www.clker.com/cliparts/5/9/4/c/12198090531909861341man%20silhouette.svg.med.png" alt=""/>
    <p>產品經理・數據挖掘工程師・<br />前端工程師</p>
  </div>
  <div class="col-md-4">
    <h3>
      舒欣
    </h3>
    <br/>
    <img width="90%" src="http://www.clker.com/cliparts/5/9/4/c/12198090531909861341man%20silhouette.svg.med.png" alt=""/>
    <p>編輯</p>
  </div>
  <div class="col-md-4">
    <h3>
      巢恬逸
    </h3>
    <br/>
    <img width="90%" src="http://www.clker.com/cliparts/5/9/4/c/12198090531909861341man%20silhouette.svg.med.png" alt=""/>
    <p>研究員</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2> 貢獻者 </h2>
    <p>特別鳴謝以下同事在產品製作過程中提出的寶貴建議：Eason Chung・Nadiya Niyazi</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2> 關於端傳媒 </h2>
    <p>端傳媒是一家總部位於香港，面向全球華人的新聞機構。我們將在2015年7月全球落地，以移动应用、網站和報纸為傳播主體，以原創調查報導和數據新聞為特色，致力於以新聞專業的立場，深度解析中港台地区及國際事務。</p>
  </div>
</div>
