
<div class="row">
  <div class="col-md-12">
    <h2> 關於LegcoMatrix </h2>
    <p>
      一段字 TODO
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2> 項目組 </h2>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>
      胡辟礫
    </h3>
    <br/>
    <img width="90%" src="http://www.clker.com/cliparts/5/9/4/c/12198090531909861341man%20silhouette.svg.med.png" alt=""/>
    <p>做了些事TODO</p>
  </div>
  <div class="col-md-4">
    <h3>
      舒欣
    </h3>
    <br/>
    <img width="90%" src="http://www.clker.com/cliparts/5/9/4/c/12198090531909861341man%20silhouette.svg.med.png" alt=""/>
    <p>做了些事TODO</p>
  </div>
  <div class="col-md-4">
    <h3>
      巢恬逸
    </h3>
    <br/>
    <img width="90%" src="http://www.clker.com/cliparts/5/9/4/c/12198090531909861341man%20silhouette.svg.med.png" alt=""/>
    <p>做了些事TODO</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2> 貢獻者 </h2>
    <p>特別鳴謝以下同事在產品製作過程中提出的寶貴建議：TODO</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2> 關於端傳媒 </h2>
    <p>端是？TODO </p>
  </div>
</div>
