<div id="about">
  <div class="row">
    <div class="col-md-12">
      <h2> 關於LegcoMatrix </h2>
      <p>
        立法會一屆5年，少則千餘個提案，多則兩三千，上至政經民生，下至雞毛蒜皮。70位議員，數十萬張投票，究竟說明了什麼？
        LegcoMatrix帶你一步一步解析立法會投票紀錄。
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2> 項目組 </h2>
    </div>
  </div>

  <!--
  Pick the icons you like from the following sources:
  * http://fortawesome.github.io/Font-Awesome/icon/folder-open-o/
  * http://getbootstrap.com/components/
  -->

  <div class="row">
    <div class="col-md-4 member">
      <h3>
        胡辟礫
      </h3>
      <br/>
      <div class="headshot">
        <i class="fa fa-male"></i>
        <!--i class="fa fa-keyboard-o"></i-->
        <i class="fa fa-laptop"></i>
      </div>
      <div class="introduction">
        產品經理
      </div>
    </div>
    <div class="col-md-4 member">
      <h3>
        舒欣
      </h3>
      <br/>
      <div class="headshot">
        <i class="fa fa-male"></i>
        <i class="fa fa-keyboard-o"></i>
      </div>
      <div class="introduction">
        程序員
      </div>
    </div>
    <div class="col-md-4 member">
      <h3>
        巢恬逸
      </h3>
      <br/>
      <div class="headshot">
        <i class="fa fa-female"></i>
        <i class="fa fa-folder-open-o"></i>
      </div>
      <div class="introduction">
        研究員
      </div>
    </div>
    <div class="col-md-4 member">
      <h3>
        金秋楓
      </h3>
      <br/>
      <div class="headshot">
        <i class="fa fa-female"></i>
        <i class="fa fa-paint-brush"></i>
      </div>
      <div class="introduction">
        設計師
      </div>
    </div>
    <div class="col-md-4 member">
      <h3>
        何雪瑩
      </h3>
      <br/>
      <div class="headshot">
        <i class="fa fa-female"></i>
        <i class="fa fa-microphone"></i>
      </div>
      <div class="introduction">
        記者
      </div>
    </div>
    <div class="col-md-4 member">
      <h3>
        張潔平
      </h3>
      <br/>
      <div class="headshot">
        <i class="fa fa-female"></i>
        <i class="fa fa-eye"></i>
      </div>
      <div class="introduction">
        監製
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2> 貢獻者 </h2>
      <p>特別鳴謝以下同事在產品製作過程中提出的寶貴建議與支持：
        <span class="contributor">
        何錦源
        </span>
        <span class="contributor">
        鍾耀華
        </span>
        <span class="contributor">
        娜迪婭
        </span>
        <span class="contributor">
        李志德
        </span>
        <span class="contributor">
        戚振宇
        </span>
        <span class="contributor">
        孫賢亮
        </span>
        <span class="contributor">
        張燁
        </span>
        <span class="contributor">
        劉雪
        </span>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2> 關於「端傳媒」 </h2>
      <p>「端傳媒」是一家總部位於香港，面向全球華人的新聞機構。我們2015年7月全球落地，以移动应用、網站和報纸為傳播主體，以原創調查報導和數據新聞為特色，致力於以新聞專業的立場，深度解析中港台地区及國際事務。</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2> 關於「端Lab」 </h2>
      <p>
        「端Lab」是端傳媒下屬的新媒體技術探索小組，
        專注于以數據驅動新聞，探索數據分析與可感知化技術，
        通過數據實證、邏輯推理的方式深度解析社會事務。
        同時「端Lab」爲「端」提供全方位的數據解決方案，優化新聞製作流程，增強互動性。
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>FAQ</h2>
      <h3>數據來自哪裏？</h3>
      <p>
        數據來自立法會官方網站公開的XML投票數據。
        可前往<a href="http://www.legco.gov.hk/general/english/counmtg/yr12-16/mtg_1415.htm">此頁</a>下載。
      </p>

      <h3>什麼是「可感知化」？</h3>
      <p>
        我們經常提到的「可視化」，有兩方面的問題。
        第一，我們忽略了視障人士。第二，視覺只是我們的一種感官。
        多媒體技術的革新，讓我們擁有更的可能性。
        除了視覺，我們也探索聽覺、觸覺。
        除了網頁和移動應用，我們也積極探索電子設備與紙媒的交互。
        所有這些，都是爲了讓數據可以被人更好的「感知」。
        其中之一，是一個爲盲人設計的Infograph。
        相關作品不日即將放出，請關注「端傳媒」各平臺消息。
      </p>

      <h3>有無其他與香港立法會相關的數據處理/可視化項目</h3>
      <p>有很多：</p>
      <table>
        <tr>
          <th>
            項目名
          </th>
          <th>
            作者
            <br/>
            <small>（主推者）</small>
          </th>
          <th>
            當前狀態
          </th>
          <th>
            語言
          </th>
          <th>
            項目產出
          </th>
          <th>
            項目地址
          </th>
        </tr>
        <tr ng-repeat="project in projects">
          <td>{{ project.name }}</td>
          <td>{{ project.author }}</td>
          <td>{{ project.status }}</td>
          <td>{{ project.language }}</td>
          <td>{{ project.outcome }}</td>
          <td>
            <a href="{{ project.link }}">URL</a>
          </td>
        </tr>

      </table>

      <p>
        * 注：列表持續更新，讀者可將已知的相關項目反饋給我們
      </p>

      <h3>我有反饋，請問如何提交？</h3>
      <p>
        請發郵件至
        <a href="mailto:editor@theinitium.com">editor@theinitium.com</a>
      </p>
    </div>
  </div>

</div>
