<div class="row">
  <div style="font-size: 18px" class="col-md-12">
    <p style="font-weight: bold">（本文內容、圖片為App呈現設計，未對顯示器優化。）</p>
    <p>本屆立法會是回歸後的第五屆，2012年10月1日上任。以下是本屆立法會議員的投票图谱全圖，之後會有分析。</p>

    <figure class="image"><a class="image"><img src="https://dn-initium.qbox.me/media/2cc300868ff248c0bba73fb885c899ed.png?imageView2/1/w/1080/h/1136/format/jpg"></a>
      <figcaption><span class="credit"><span></span></span></figcaption></figure>

    <p>縱軸代表提案人：即本屆立法會議員70人，加上曾提出議案的政府官員12人，共82行。橫軸代表投票人，也是立法會議員70人（政府官員無投票權）。 每個方格，就代表一位投票人對一位提案人的投票意向：顏色越深，代表贊同票佔比越高；顏色越淺，代表非贊同票（反對、棄權、出席）比例越高。</p>

    <p>各個議員以其政治傾向排序，此排序綜合其投票記錄計算：靠近圖上方、左方的是泛民，靠近圖右方、下方的是建制派。</p>

    <p>立法會主席曾鈺成按慣例只投「出席」票，於是，可以以它爲界，將議員分成泛民、建制兩派。</p>
    <figure class="image"><a class="image"><img src="https://dn-initium.qbox.me/media/579bdde4bdba45e38670a12cee5fb4a1.png?imageView2/1/w/1080/h/1136/format/jpg"></a>
      <figcaption><span class="credit"><span></span></span></figcaption></figure>

    <p>我們先來看泛民議員的投票意向。 左上角代表泛民內部的投票情況。 頭四位是梁國雄，陳偉業，陳志全，黃毓民，即拉布戰的常客。 他們形成了一個深色小方塊，說明互相支持各自的議案，但是，他們的議案，連其他的泛民都不太支持，所以右上方有一條很淡的區域。其他的泛民議員，投票意向則相當統一，緊密團結，顏色均勻、空洞很少。</p>
    <figure class="image"><a class="image"><img src="https://dn-initium.qbox.me/media/f1a9957cf83f41e7bf559492cf154370.png?imageView2/1/w/1080/h/1075/format/jpg"></a>
      <figcaption><span class="credit"><span></span></span></figcaption></figure>

    <p>對於建制派，泛民自是不會全力支持，但有好幾位建制議員卻是頗受泛民的歡迎。工聯會的潘兆平議員，更是受到多數泛民議員的強力支持，顏色相當深。 相反，贊同潘議員議案的建制派卻寥寥無幾，從圖上看大多是是空白。 葉劉淑儀議員與泛民議員交接的格子顏色也較深，顯示她頗受泛民支持</p>
    <figure class="image"><a class="image"><img src="https://dn-initium.qbox.me/media/e8ce90c1622c4a7cbafc5d4b299a8bd7.png?imageView2/1/w/1080/h/1060/format/jpg"></a>
      <figcaption><span class="credit"><span></span></span></figcaption></figure>

    <p>看完泛民，我們來看建制派的投票意向。對泛民議案，建制派自然不太支持。對於拉布四人組，建制派的支持率非常低。對於其他泛民，建制派雖然支持率普遍比較低，並沒有潘兆平議員那樣的異類，但支持率也有高低之別。例如，梁繼昌、莫乃光、湯家驊的提案，相對而言，較受建制派支持</p>
    <figure class="image"><a class="image"><img src="https://dn-initium.qbox.me/media/7992d96efe7a4b66835e69dcce6e6d9f.png?imageView2/1/w/1080/h/650/format/jpg"></a>
      <figcaption><span class="credit"><span></span></span></figcaption></figure>

    <p>建制內部的支持程度，相比泛民，可以說相對鬆散，可以看見許多「空洞」。</p>
    <figure class="image"><a class="image"><img src="https://dn-initium.qbox.me/media/0d18a5dc0a2d4614bff5ec2158ef656f.png?imageView2/1/w/1080/h/1022/format/jpg"></a>
      <figcaption><span class="credit"><span></span></span></figcaption></figure>

    <p>下面我們來看政府提案。總體而言，建制派較為支持政府，泛民贊成票較少。比較政府官員，運房局、政制及內地事務局支持票較多，保安局支持票較少。</p>
    <figure class="image"><a class="image"><img src="https://dn-initium.qbox.me/media/898c9da9c4bf40b3a96f3900433b8bdd.png?imageView2/1/w/1080/h/169/format/jpg"></a>
      <figcaption><span class="credit"><span></span></span></figcaption></figure>

    <p>最後講一件趣事：這個圖的對角線，代表着每個議員對自己提出的議案的投票情況，正常來說，應該是100%支持的。 曾鈺成無提案，所以是空白。 林大輝亦未曾提案，所以也是空白。 但是還有一位李慧琼議員，在2014年曾經對自己的提出的修正案投反對票。她是所以議員之中，唯一一位曾經反對自己議案的人。</p>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-12">
    <h1>第二篇文章（測試用 無內容）</h1>
  </div>
</div>
