<div class="row">
  <div class="col-md-12">
    <div id="legco">
      Step {{ currentStep }}
      <div class="control-panel">
        <a class="btn btn-primary back" ng-click="backFunc()" ng-show="currentStep > 0">上條</a>
        <a class="btn btn-primary next" ng-click="nextFunc()" ng-show="currentStep < stories.length - 1">下條</a>
      </div>
      <div class="legends">
        <div>
          支持率
        </div>
        <div ng-repeat="l in legends">
            {{ l.valuePercentage }}
          <div class="legend" style="background-color:{{ l.color }}"></div>
        </div>
      </div>
      <div class="loading" ng-show="isLoadingTransDictMover || isLoadingTransDictVoter || isLoadingMVRelation"></div>
      <!--div class="loading" ng-show="isLoadingMVRelation"></div-->
      <div class="name-block left" ng-show="!isLoadingTransDictMover">
        <div class="caption">提案者↓</div>
        <div ng-repeat="i in rangeMovers" class="name">
            {{ transDictMover[i]['ch'] }} <span class="delimiter"></span> {{ (100 + i).toString().substr(-2) }}
        </div>
      </div>
      <div class="name-block top" ng-show="!isLoadingTransDictVoter">
        <div class="caption">投票者↓</div>
        <div ng-repeat="i in rangeVoters" class="name">
            {{ (100 + i).toString().substr(-2) }} <span class="delimiter"></span> {{ transDictVoter[i]['ch'] }}
        </div>
      </div>
      <div id="heatmap">
        <div ng-repeat="votes in mvRelation track by $index" class="mv-row">
          <div ng-repeat="vote in votes track by $index" class="mv-cell">
            <div class="mv-cell-inner"
                 data-value="{{ vote.value }}"
                 data-value-percentage="{{ vote.valuePercentage }}"
                 data-color="{{ vote.color }}"
                 style="background-color:{{ vote.color }}">
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="small">
      (This 82x70 figure is originally designed for big-sized screens;
      visualisations optimised for smaller screens will be released later)
    </div>
  </div>
</div>

<div id="style-info">
  <span id="font-size"></span>
  <span id="cell-size"></span>
  <span id="cell-spacing"></span>
</div>
