<p>
  This is the play view.
  If you see this, someone is playing around.
  This page may not be what you are looking for.
  Contact the one who shared this link with you to view the intended page.
</p>

<p>2nd p</p>

<p>3nd p</p>

<div> a div </div>
<div> a div </div>
<div> a div </div>

<div cg-busy="false">busy div </div>
<div cg-busy="myPromise2">busy div </div>
<div cg-busy="myPromise3">busy div </div>
<div cg-busy="myPromise4">busy div </div>

{{ myPromise1 }}
{{ myPromise2 }}

<div class="row">
  <div class="col-md-12"   style="height: 100px; width: 100px; background-color: rgba(0, 0, 0, 0.8);">
    <div class="loading">
    </div>
  </div>
</div>


