<script type="text/ng-template" id="finishedDialog">
  <div class="quiz-finish-prompt">
    <div class="row">
      <div class="col-md-12">
        <p>
          恭喜！您已經答對了所有的題目。如欲瞭解更多香港立法會的奇聞軼事，請瀏覽我們的
          <a href="#/matrix" ng-click="closeThisDialog()">立法會矩陣</a>
          吧。
        </p>
        <div>
          <a href="#/matrix" ng-click="closeThisDialog()">
            <img src="images/matrix-thumbnail.png" alt=""/>
          </a>
        </div>
      </div>
    </div>
  </div>
</script>


<div class="row">
  <div class="col-md-12" id="quizes-container">

    <div class="quiz alert" ng-class="{'alert-success': (q.answerFromUser != -1) && q.answerIndex == q.answerFromUser,
                                      'alert-danger': (q.answerFromUser != -1) && (q.answerIndex != q.answerFromUser)}
                                    " ng-repeat="q in quizes track by $index" id="quiz-block-{{ $index }}">

        <h2>Q{{ $index+1 }} - {{ q.question }}</h2>
        <ul class="choices">
          <li ng-repeat="c in q.choices track by $index">
            <!-- {{ $index }} - {{ c }} -->
            <!-- without 'c' prefix, the $index evaluates to null instead of 0... -->
            <label class="btn btn-primary" ng-model="q.answerFromUser" btn-radio="$index || 0" ng-click="updateQuizStatus()">{{ c }}</label>
          </li>
        </ul>
        <div class="row" ng-show="showAnswer">
          <div class="answer col-md-4" ng-show="q.answerFromUser != -1">
            <div class="right" ng-show="q.answerFromUser == q.answerIndex">
              <i class="glyphicon glyphicon-ok"></i>
              回答正確！
            </div>
            <div class="right" ng-show="q.answerFromUser != q.answerIndex">
              <i class="glyphicon glyphicon-remove"></i>
              回答錯誤！
            </div>
          </div>
          <div class="" ng-show="q.answerFromUser != -1">
            <div class="explanation col-md-8" ng-show="q.answerFromUser == q.answerIndex">
              <i class="fa fa-book"></i>
              小知識：
                {{ q.explanation }}
              <br/>
              <a class="btn btn-primary" href="" ng-click="nextQuiz()">知啦，下一題</a>
            </div>
            <div class="right" ng-show="q.answerFromUser != q.answerIndex">
              請再嘗試，加油！
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>


<!-- pre>{{ quizes }}</pre -->
<!-- div class="">
  <label class="btn btn-primary" ng-model="radioModel" btn-radio="'left'">Left</label>
  <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'">Middle</label>
  <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Right'">Right</label>
</div -->

