@import "common.scss";

$grey-base: #eee;
$brand-primary: $main-color;
$navbar-border-radius: 0;

$navbar-default-color: white;
$navbar-default-bg: $main-color;
$navbar-default-link-color:                white;
$navbar-default-link-hover-color:          white;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         white;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       $grey-base;
$navbar-default-link-disabled-bg:          transparent !default;

$btn-default-color: white;
$btn-default-bg: $button-color;
$btn-primary-bg: $button-color;

$hr-border: lighten($main-color, 20%);

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "compass-mixins/lib/_compass.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  .glyphicon.glyphicon-heart {
    color: $main-color;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

$font-size: 8px;
$cell-size: 7px;
$cell-spacing: 1px;
$cell-block-size: $cell-size + $cell-spacing;
$heatmap-left: 16 * $cell-block-size; // max 13 chars in names
$heatmap-top: 10 * $cell-block-size; // max 6 chars in names
$heatmap-width: $cell-block-size * 70;
$heatmap-height: $cell-block-size * 82;
$heatmap-margin: $cell-block-size * 2; // leave 2 cells of margin

#style-info {
  visibility: hidden;
  #font-size {
    font-size: $font-size;
  }
  #cell-size {
    font-size: $cell-size;
  }
  #cell-spacing {
    font-size: $cell-spacing;
  }
}

#legco {
  width: $heatmap-left + $heatmap-width + $heatmap-margin;
  height: $heatmap-top + $heatmap-height + $heatmap-margin;
  border: solid 1px $main-color;
  position: relative;
  font-size: $font-size;
  line-height: $cell-size;

  .control-panel {
    //border: 1px solid $button-color;
    position: absolute;
    top: $heatmap-top + $cell-block-size * 10 ;
    left: $cell-block-size * 2;
    z-index: 10;
    a {
      display: block;
    }
    //font-size: $font-size;
    //width: $cell-block-size * 6;
    .back {
      position: absolute;
      top: 0em;
    }
    .next {
      position: absolute;
      top: 3em;
    }
  }

  .legends {
    position: absolute;
    width: 6 * $cell-block-size ;
    top: $heatmap-top;
    text-align: right;
    .legend {
      display: inline-block;
      width: $cell-size;
      height: $cell-size;
      margin: 0;
      padding: 0;
    }
  }

  .name-block {
    position: absolute;
    line-height: $cell-size;
    .caption {
      position: absolute;
      color: darken($main-color, 20%);
      font-size: 1.3em;
      right: 0;
      top: -1.5em;
      text-align: right;
    }
    .delimiter {
      margin: 0;
      padding: 0;
      border-left: 2px solid $main-color;
      margin-right: 2px;
    }
    .name {
      position: relative;
      margin-bottom: $cell-spacing;
    }
    &.left {
      left: $heatmap-left - 13 * $cell-block-size;
      top: $heatmap-top;
      .name {
        text-align: right;
      }
    }
    &.top {
      left: $heatmap-left;
      top: $heatmap-top - 2 * $cell-block-size;
      transform: rotate(-90deg);
      transform-origin: top left;
      .name {
      }
    }
  }

  #heatmap {
    position: absolute;
    padding: 0;
    margin: 0;
    top: $heatmap-top;
    left: $heatmap-left;
    width: $heatmap-width;
    height: $heatmap-height;

    div {
      margin: 0;
      padding: 0;
    }

    .mv-row {
      display: block;
      height: $cell-size;
      line-height: $cell-size;
      margin-bottom: $cell-spacing;
    }

    .mv-cell {
      display: inline-block;
      margin-right: $cell-spacing;
    }

    .mv-cell-inner {
      background-color: grey;
      width: $cell-size;
      height: $cell-size;
      line-height: $cell-size;
    }
  }

  .guide-frame{
    position: absolute;
    left: 0;
    top: 0;

    .rectangle {
      position: absolute;
      width: 10px;
      height: 10px;
      //border: 2px solid darken($legco-main-color, 20%);
      border: 2px solid lighten(complement($legco-main-color), 20%);
      //box-shadow: 2px 2px 2px 1px lighten($legco-main-color, 20%);
      box-shadow: 2px 2px 2px 1px lighten(complement($legco-main-color), 50%);
    }
  }
}

$alpha-circle: 0.4;
$alpha-arc: 0.8;

// http://codepen.io/mikeambrosi/pen/JdEMVX
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgba($main-color, $alpha-circle);
  border-left-color: rgba($main-color, $alpha-arc);
  border-radius: 50%;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid rgba($main-color, $alpha-circle);
    border-left-color: rgba($main-color, $alpha-arc);
    border-radius: 50%;
  }

  &::before {
    content: "";
    margin: -23px 0 0 -23px;
    height: 44px;
    width: 44px;
    animation: animation-rotate 1000ms linear infinite;
  }

  &::after {
    content: "";
    margin: -29px 0 0 -29px;
    height: 56px;
    width: 56px;
    animation: animation-rotate 2000ms linear infinite;
  }

  margin: -25px 0 0 -25px;
  height: 50px;
  width: 50px;
  animation: animation-rotate 1000ms linear infinite;

  @keyframes animation-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
}

#header.header {
  border-bottom: none;
}

#footer.footer {
  border-top: none;
}


#quizes-container {
  ul.choices {
    li {
      list-style-type: none;
      display: inline-block;
      margin: 0.5em;
      padding: 0.5em;
    }
  }
  .answer {
    //visibility: hidden;
  }
  .explanation {
    //visibility: hidden;
  }
}

#blog {
  font-size: 18px;
  h1 {
    text-align: center;
  }
  p {
    margin-bottom: 1em;
  }
  figure {
    text-align: center;
    margin-bottom: 1em;
    img {
      max-width: 70%;
      display: block;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.quiz-finish-prompt {
  margin: 1em;
  padding: 0.7em;
  p {
    margin-bottom: 1em;
  }
  img {
    max-width: 70%;
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

#about {
  h2, h3 {
    text-align: center;
  }
  .introduction {
    margin: 1em;
    text-align: center;
  }
  .headshot {
    text-align: center;
    .fa {
      font-size: 60px;
      &.fa-male {
        color: $main-color;
      }
      &.fa-female {
        color: $button-color;
      }
    }
  }
  .member {
    border: 1px solid $grey-base;
  }
}
